@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  /*opacity: 0.9;*/
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #23232e;
  height: 10vh;
  opacity: 0.9;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  /* ver se da pra tirar dps */
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background-color: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    /*transition: transform 0.3s ease-in;*/
  }

  .mobile-menu {
    display: block;

  }

  .nav-list.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }

}


