<section>
  <div class="container" [style.opacity]="sharedService.isNavActive ? '0' : '1'">
    <h1 class="intro">Olá, eu sou o</h1>
    <div class="apresentacao">
      <h2>Vitor Comin.</h2>
      <div class="barra"><h2>|</h2></div>
    </div>
    <h1 class="intro">Desenvolvedor Front-End.</h1>
    <div class="redes">
      <button class="link-button">
        <a href="https://www.linkedin.com/in/vitorgabrielcomin/" target="_blank">
          <i class="fa-brands fa-linkedin"></i><h1>LinkedIn</h1>
        </a>
      </button>
      <button class="link-button">
        <a href="https://github.com/VitorComin" target="_blank">
          <i class="fa-brands fa-github"></i><h1>GitHub</h1>
        </a>
      </button>
    </div>
  </div>
</section>
